/* Mantén tus estilos existentes */
.card {
  flex: 1;
  max-width: 300px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative; /* Nueva línea: Permite posicionar elementos secundarios en relación con este elemento */
  transition: transform 0.3s, box-shadow 0.3s; /* Nueva línea: Agrega transición suave al efecto */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.card h2 {
  margin: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
