.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  margin-bottom: 0;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .catalogo {
    justify-content: center; 
  }

  h3 {
    font-size: 1.5em; 
    text-align: center;
  }
}
