.log-entry-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
}

.log-entry-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

h1 {
  font-family: Comic Sans MS;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center; 
}

/* Estilos para pantalla grande */
@media screen and (min-width: 768px) {
  .log-entry-list-container {
    justify-content: flex-start;
  }

  .log-entry-card {
    width: 300px;
  }

  h1, h3 {
    font-size: 1.5em; 
    text-align: center;
  }
}
