.card {
  flex: 1;
  max-width: 300px;
  height: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.card h2 {
  color: #ccc;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Marvel', sans-serif; 
  text-align: center; 
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


